<div *ngIf="pacientes.length > 0" class="container">
	<h3>Lista de pacientes</h3>
	<button type="button" class="btn btn-primary" (click)="nuevoPaciente()">
		Nuevo paciente
	</button>
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Fecha de inserción</th>
				<th scope="col">Nombre</th>
				<th scope="col">Apellidos</th>
				<th scope="col">Fecha de nacimiento</th>
				<th scope="col">Diagnóstico</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let paciente of pacientes" (click)="editarPaciente(paciente._id)">
				<td scope="col">{{ paciente.datosPersonales.fechaInsercion | date:'dd/MM/yyyy' }}</td>
				<td scope="col">{{ paciente.datosPersonales.nombre }}</td>
				<td scope="col">{{ paciente.datosPersonales.apellido1 }} {{ paciente.datosPersonales.apellido2 }}</td>
				<td scope="col">{{ paciente.datosPersonales.fechaNac | date:'dd/MM/yyyy' }}</td>
				<td scope="col">{{ paciente.diagnosticosYpruebas.diagnosticos[0].diagnostico }}</td>
			</tr>
		</tbody>
	</table>
</div>

<div *ngIf="pacientes.length <= 0" class="container text-center">
	<h3>La lista de pacientes está vacía</h3>
	<button type="button" class="btn btn-primary" (click)="nuevoPaciente()">
		Nuevo paciente
	</button>
</div>
