<div class="container">
	<h3>Datos paciente</h3>
	<form [formGroup]="formEditarPaciente" (ngSubmit)="actualizarPaciente(formEditarPaciente)">
		<div class="form-group">
			<div class="row">
				<div class="col-md-4">
					<label class="form-label">Nombre</label>
					<input type="text" class="form-control" placeholder="Nombre" formControlName="nombrePaciente">
				</div>
				<div class="col-md-4">
					<label class="form-label">Primer apellido</label>
					<input type="text" class="form-control" placeholder="Primer apellido" formControlName="apellido1Paciente">
				</div>
				<div class="col-md-4">
					<label class="form-label">Segundo apellido</label>
					<input type="text" class="form-control" placeholder="Segundo apellido" formControlName="apellido2Paciente">
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<label class="form-label">Fecha de nacimiento</label>
					<input type="date" class="form-control" formControlName="fechaNacimientoPaciente">
				</div>
				<div class="col-md-2">
					<label class="form-label"></label>
					<p>Institucionalizado</p>
				</div>
				<div class="col-md-2">
					<label class="form-label"></label>
					<input type="checkbox" class="form-check" formControlName="institucionalizado">
				</div>
			</div>
			<div *ngIf="formEditarPaciente.get('institucionalizado')?.value" class="row">
				<div class="col-md-4">
					<label class="form-label">Institución</label>
					<input type="text" class="form-control" placeholder="Nombre institución" formControlName="nombreInstitucion">
				</div>
				<div class="col-md-4">
					<label class="form-label">Localidad</label>
					<input type="text" class="form-control" placeholder="Localidad institución" formControlName="localidadInstitucion">
				</div>
				<div class="col-md-4">
					<label class="form-label">Fecha ingreso</label>
					<input type="date" class="form-control" formControlName="fechaIngresoInstitucion">
				</div>
			</div>
			<div *ngIf="!formEditarPaciente.get('institucionalizado')?.value" class="row">
				<div class="col-md-3">
					<label class="form-label">Dirección</label>
					<input type="text" class="form-control" placeholder="Nombre dirección" formControlName="nombreDireccion">
				</div>
				<div class="col-md-1">
					<label class="form-label">Número</label>
					<input type="text" class="form-control" placeholder="Número" formControlName="numeroDireccion">
				</div>
				<div class="col-md-2">
					<label class="form-label">Piso y letra</label>
					<input type="text" class="form-control" placeholder="Piso y letra, ejemplo: 2A" formControlName="pisoYletraDireccion">
				</div>
				<div class="col-md-3">
					<label class="form-label">Localidad</label>
					<input type="text" class="form-control" placeholder="Localidad dirección" formControlName="localidadDireccion">
				</div>
				<div class="col-md-3">
					<label class="form-label">Provincia</label>
					<input type="text" class="form-control" placeholder="Provincia dirección" formControlName="provinciaDireccion">
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-md-8">
					<button type="submit" class="btn btn-primary">Actualizar datos</button>
					<button 
						type="button" 
						class="btn btn-danger" 
						data-bs-toggle="modal" 
						data-bs-target="#confirmarEliminarModal">
							Eliminar paciente
					</button>
					<button type="button" class="btn btn-secondary" (click)="volver()">Volver</button>
				</div>
			</div>
		</div>
	</form>
	<form [formGroup]="formIniciarTerapia" (ngSubmit)="iniciarTerapia(formIniciarTerapia)">
		<div class="form-group">
			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12">
							<h4>Iniciar una terapia</h4>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-md-12">
							<label class="form-label">Selecciona la terapia a realizar con el paciente</label>
							<select class="form-select" formControlName="terapia">
								<option value="0" selected>- Selecciona terapia -</option>
								<option *ngFor="let terapia of terapias" [value]="terapia._id">
									{{ terapia.nombre }}
								</option>
							</select>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-md-12">
							<button type="submit" class="btn btn-primary">Iniciar terapia</button>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12">
							<h4>Terapias ya realizadas</h4>
							<p *ngIf="terapiasPaciente.length > 0">*Pulsa en el nombre de la terapia para volver a realizarla<br></p>
							
							<table *ngIf="terapiasPaciente.length > 0">
								<tr>
									<th>Nombre terapia</th>
								</tr>
								<tr *ngFor="let terapia of terapiasPaciente">
									<td (click)="ejecutarTerapia(terapia._id)"
										style="cursor: pointer;">- {{ terapia.nombre }}</td>
								</tr>
							</table>
							<p *ngIf="terapiasPaciente.length === 0">
								No se ha realizado ninguna terapia
							</p>
						</div>
					</div>
				</div>
			</div>		
		</div>
	</form>

	<!-- Modal -->
	<div class="modal fade" id="confirmarEliminarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar paciente</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					Pulsando el botón <i>Eliminar</i> se borrarán todos los datos de este paciente, ¿está seguro de querer continuar?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, cancelar</button>
					<button type="button" class="btn btn-primary" (click)="eliminarPaciente()" data-bs-dismiss="modal">
						Sí, eliminar
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
